; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init {:file "/var/log/riemann/riemann.log"})

(require 'riemann.client)
(require 'riemann.influxdb)

(let [host "0.0.0.0" port 5555]
  (tcp-server {:host host :port port})
  (udp-server {:host host :port port}))

(instrumentation {:enabled? false})

(periodically-expire 5 {:keep-keys
                        [:host :service :tags :description :metric]})

(def special-fields
  "A set of event fields in Riemann with special handling logic."
  #{:host :service :time :metric :tags :ttl :description})

(let [index (index)]
  (streams
     (where (not (:state "expired"))
      (default :ttl 60
           index
      (fn [event]
        (let [tag-fields (conj (set (remove special-fields (keys event))) :host)
              influx-with-tags
                (influxdb {:host "localhost"
                           :port 8086
                           :version :0.9
                           :db "metrics"
                           :tag-fields tag-fields})]
          (influx-with-tags event)))
        )
      )
  )
)

